html {
  background-color: #202124;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

* {
  border: 0;
  margin: 0;
  list-style: none;
}

body {
  padding: 0.5rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: solid 0.1px #5f6368;
}

.topbar-right {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.topbar-right div:first-child {
  display: flex;
  gap: 0.6em;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #525355;
  padding: 0.1em 0.6em;
  gap: 0.3rem;
  width: 100%;
  max-width: 40vw;
  border-radius: 5px;
}

.search-form input {
  background-color: #525355;
  height: 2em;
  width: 30vw;
  outline: 0;
  color: black;
  font-size: 1rem;
}

.search-form:focus-within {
  background-color: white;
}

.search-form:focus-within span {
  color: black;
}

input:focus {
  background-color: white;
}

span.material-icons {
  color: white;
  font-size: 1.4rem;
  padding: 0.3em;
  cursor: pointer;
}

span.material-icons:hover {
  border-radius: 50%;
  background-color: rgba(131, 133, 135, 0.3);
}
